# cache
__pycache__/
.pytest_cache/

# test
test/
tests/

# vscode settings
.vscode/

# build
build/
build_debug/

# Cython
*.pyx
*.pxd
*.pyd
*.pyi
*.c

# others
tmp/
*/checkpoint*/*
bak/
venv*/
*.xcf
conf.json*
module/
dependencies/
depends/
logo_old.ico
*.bak*.py
log/
*.onnx
resources/html/
resources/ui/tex_mml_chtml.js
social.png
