[Unit]
Description=gunicorn Celery Latex OCR API
After=network.target

[Service]
User=www
Group=www
WorkingDirectory=...
ExecStart=gunicorn -c gunicorn.conf.py main:app

[Install]
WantedBy=multi-user.target